<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
body {font-family: Arial, Helvetica, sans-serif;}
* {
  width: 50%
  box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: auto;
  padding: 12px 20px;

  width: 50%;
}
</style>
<body>

            <div class="container">
      <h1 style="text-align: center">{{Task_boardname}}</h1></br> 
      <center>
      <h3>Total Tasks:{{Total_tasks}}  &nbsp; Total completed:{{Total_completed}} &nbsp; Completed Today:{{Total_completedtoday}} &nbsp; Active Tasks:{{Total_active}}</h3>
      </center>
<ul class="list-group">
  {% for i in result %}
      {% if i.Task_status=='False' %}
      {% if i.Task_owner in Members or i.Task_owner=="Not Assigned" %}
    <b ><font size=+2 ><li class="list-group-item" 
      >{{loop.index}}.&nbsp;&nbsp;<input type="checkbox" onclick="myFunction('{{i.Task_uid}}','{{i.Task_boardname}}')" style="vertical-align: right" class="form-check-input" name="ev_uid"  value="{{i.Task_name}}"> <a href="/EditTask?EditView=True&Task_uid={{ i.Task_uid }}&Task_boardname={{i.Task_boardname}}&Task_name={{i.Task_name}}&TaskBoard_uid={{TaskBoard_uid}}">{{i.Task_name}} 
        </a><div align="right"><a style="font-size: 60%">{{i.Task_owner}}</a></div></font>
<div align="right" >

      <a>Task Due: {{i.Task_due}}</a></b></div>

        <br/>
          <div align="center">        <button type="button" class="btn btn-default btn-sm"
        onClick="location.href='/Task_Delete?TaskBoard_uid={{TaskBoard_uid}}&Task_name={{i.Task_name}}'">
          <span class="glyphicon glyphicon-remove"></span> Delete 
        </button></div>
        </li>
        {% else %}
         <b ><font size=+2 ><li class="list-group-item" style="background: RED;" 
      > <input type="checkbox" onclick="myFunction('{{i.Task_uid}}','{{i.Task_boardname}}')" style="vertical-align: right" class="form-check-input" name="ev_uid"  value="{{i.Task_name}}"> <a href="/EditTask?EditView=True&Task_uid={{ i.Task_uid }}&Task_boardname={{i.Task_boardname}}&Task_name={{i.Task_name}}&TaskBoard_uid={{TaskBoard_uid}}">{{i.Task_name}} 
        </a><div align="right"><a style="font-size: 60%">{{i.Task_owner}}</a></div></font>
<div align="right" >

      <a>Task Due: {{i.Task_due}}</a></b></div>

        <br/>
          <div align="center">        <button type="button" class="btn btn-default btn-sm"
        onClick="location.href='/Task_Delete?TaskBoard_uid={{TaskBoard_uid}}&Task_name={{i.Task_name}}'">
          <span class="glyphicon glyphicon-remove"></span> Delete 
        </button></div>
        </li>
        {% endif %}


        {% endif %}
        {% if i.Task_status=='True'%}
        <b ><font size=+2 ><li class="list-group-item disabled" ><input type="checkbox" disabled="disabled" checked="checked" style="vertical-align: right" class="form-check-input" name="ev_uid"  value="{{i.Task_name}}"> <a>{{i.Task_name}} 
        </a><div align="right"><a style="font-size: 60%">{{i.Task_owner}}</a></div></font></br>
       
<div align="right" >

      <a>Task Due: {{i.Task_due}}</a></b></div>

        <br/>
         <div align="center">        <button type="button" class="btn btn-default btn-sm"
        onClick="location.href='/'">
          <span class="glyphicon glyphicon-remove"></span> Delete 
        </button></div>
        </li>
        {% endif %}
  {% endfor %}
</ul>
<div align="center"><form action="/AddTask" method="get">
  <input type="hidden" name="Task_boardname" value="{{Task_boardname}}">
  <input type="submit" name="View" id="View" value="Add Task">
  <input type="hidden" name="TaskBoard_uid" value="{{TaskBoard_uid}}">
</form>
</div>

 <a href="/RenameTaskboard?RenameView=True&TaskBoard_uid={{TaskBoard_uid}}&Task_boardname={{Task_boardname}}">Click here to Rename TaskBoard</a>
<div align="left"> <a href="/TaskBoard_RemoveUser?TaskboardEditMemberView=True&TaskBoard_uid={{TaskBoard_uid}}">Click here to Edit taskboard member</a></div>
<div align="center">
   <a href='/TaskBoard_Delete?TaskBoard_name={{Task_boardname}}'>here to delete</a>
</div>
<div align="right"><a href="/TaskBoardAddMembers?AddMemberView=True&Task_boardname={{Task_boardname}}&TaskBoard_uid={{TaskBoard_uid}}"> Click here to add members</a></div>

</div>
<script>
function myFunction(tkuid,tkboardname) {
  var txt;
  if (confirm("Do you really want to mark this task Done!??")) {
  window.location="/EditTask?EditStatus=True&Task_uid="+tkuid+"&Task_boardname="+tkboardname+"&TaskBoard_uid={{TaskBoard_uid}}";
  } else {
  window.location="AddTask?ViewTask=true&Task_boardname="+tkboardname+"&TaskBoard_uid={{TaskBoard_uid}}&TaskBoard_uid={{TaskBoard_uid}}";
   }
  

}
</script>
</body>
</html>